# HTTP-specific options
http:

  port: 8080
  adminPort: 8081

  rootPath: /service/*

# Logging
logging:

  level: INFO

  loggers:
    # Set debug logging for our code
    "uk.co.flax": TRACE

# Solr configuration
solr:

  # The base URL for the solr server.
  baseUrl: http://localhost:8983/solr/
  
  # The default query handler
  queryHandler: /morris
  
  # The facet queries, with display labels
  facetQueryFields:
    created_at:
      "[NOW/DAY-1DAYS TO NOW/DAY]": 'Today'
      "[NOW/DAY-7DAYS TO NOW/DAY]": 'This week'
      "[NOW/DAY-30DAYS TO NOW/DAY]": 'This month'
      "[NOW/DAY-365DAYS TO NOW/DAY]": 'This year'
      "[NOW/DAY-730DAYS TO NOW/DAY]": '2 years'

  # Labels to use for the facets, when displayed
  facetLabels:
    party: "Party"
    organization_ner: "Organisation"
    person_ner: "Person"
    location_ner: "Location"
    ent_mentions_full_name: "Mentions"
    ent_urls: "URL"
    retweeted: "Retweeted"
    place_country: "Country"
    place_full_name: "Place"
    user_full_name: "User name"

# The Stanford NLP configuration
stanford:

  # Java properties for entity extraction - need to be wrapped up this way to work properly
  entityProperties:
    # The NER classifier to use - taken from the stanford-nlp-models.jar
    loadClassifier: /edu/stanford/nlp/models/ner/english.all.3class.distsim.crf.ser.gz

  # Java properties for sentiment analysis
  sentimentProperties:
    annotators: "tokenize, ssplit, parse, sentiment"
