/************************
 * General page styling *
 ************************/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* Padding at the top to push body below title bar */
	padding-top: 68px;
	padding-bottom: 20px;
}


/* Searched for/filters applied styling */
.results_header {
	margin: 10px 0 10px;
	font-size: small;
}

.applied_filters {
	padding-left: 10px;
}

.applied_filters ul {
	display: inline;
	padding-left: 0;
}

.applied_filters li {
	display: inline;
	list-style-type: none;
	font-size: small;
}

.remove_filter {
	font-size: x-small;
}

.filter-panel {
	font-size: 12px;
}

.filter-panel .panel-title {
	font-size: 14px;
}


/* Tweet formatting */
.tweet_date {
	font-size: small;
}

/* Override default bootstrap/angular styling */
.nav,.pagination,.carousel a {
	cursor: pointer;
}