/************************
 * General page styling *
 ************************/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* Padding at the top to push body below title bar */
	padding-top: 68px;
	padding-bottom: 20px;
}


/* Searched for/filters applied styling */
.results_header {
	margin: 10px 0 10px;
	font-size: small;
}

.applied_filters {
	padding-left: 10px;
}

.applied_filters ul {
	display: inline;
	padding-left: 0;
}

.applied_filters li {
	display: inline;
	list-style-type: none;
	font-size: small;
}

.remove_filter {
	font-size: x-small;
}

.filter-panel {
	font-size: 12px;
	border-radius: 4px;
	padding: 1px;
}

.filter-panel-heading {
	background-color: #E0E0E0;
	border: 1px solid #D0D0D0;
	border-radius: 4px;
	padding: 5px 0 5px 15px;
	margin-bottom: 1px;
	font-size: 16px;
}

.filter-panel .panel-title {
	font-size: 14px;
}

.filter-panel ul {
	padding-left: 0;
	margin: 0;
}

.filter-panel li {
	list-style-type: none;
}


/* Tweet formatting */
.tweet_listing ul {
	padding-left: 0;
}

.tweet_listing li {
	list-style-type: none;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

.tweet {
	padding: 5px 10px 5px 10px;
}
/* Negative sentiment */
.tweet-sentiment-1 {
	background-color: #FFD6CC;
}
/* Neutral sentiment */
.tweet-sentiment-2 {
	
}
/* Positive sentiment */
.tweet-sentiment-3 {
	background-color: #C8FFC8;
}

.tweet_date {
	font-size: small;
}

/* Override default bootstrap/angular styling */
.nav,.pagination,.carousel a {
	cursor: pointer;
}