<!DOCTYPE html>
<html ng-app="ukmpApp">
<head>
	<title>UK MP Tweets</title>
	<meta charset="utf-8" />
	
	<script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
	<script src="/webjars/angularjs/1.2.2/angular.min.js"></script>
	<script src="/webjars/angularjs/1.2.2/angular-sanitize.min.js"></script>
	<script src="/webjars/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="/webjars/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
	<script src="/js/controller.js"></script>
	
	<link rel="stylesheet" href="/webjars/bootstrap/3.0.2/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/ukmp.css" />
</head>

<body ng-controller="UKMPCtrl">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">UK MP Tweets</a>
		</div>
		<p class="navbar-text">Searchable tweets from the UK's Parliament</p>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-right" role="search" ng-submit="search()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" name="query" ng-model="query">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div id="tweets" class="col-md-9">
				<div class="results_header">
					<span>Found {{totalItems}} results.</span>
					
					<div ng-if="searched">Searched for: <em>{{searchState.query}}</em>.</div>
					<div ng-if="filtered">
						Filtered by:<br />
						<div class="row applied_filters" ng-repeat="(field, values) in searchState.appliedFilters">
							<div class="col-md-2">{{field}}:</div>
							<div class="col-md-9"><ul>
								<li ng-repeat="value in values">
									<span ng-bind-html="value"></span>
									<a href="" ng-click="remove_filter(field, value)" class="remove_filter">[x]</a>
								</li>
							</ul></div>
						</div>
					</div>
				</div>
			
				<ul class="tweet_listing">
					<li ng-repeat="tweet in tweets">
						<strong>@{{tweet.userScreenName}}</strong>
						{{tweet.userName}} ({{tweet.party}})<br />
						<span ng-bind-html="tweet.text"></span><br />
						<span class="tweet_date">{{tweet.created | date:'HH:mm:ss, d MMM yyyy'}}</span>
					</li>
				</ul>
	
				<pagination boundary-links="true" total-items="totalItems" page="currentPage + 1" 
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" 
					last-text="&raquo;" on-select-page="setPage(page)" max-size="5"></pagination>
			</div>
			
			<div id="facets" class="col-md-3">
				<span>Filters</span>
				<!-- 
				<div id="facetQueries">
					<ul class="fq_listing">
						<li ng-repeat="query in searchState.facetQueries">
							{{query.label}} ({{query.count}})
						</li>
					</ul>
				</div>
				-->
				
				<facet-list facets="searchState.facets.party" facet-click="filter(facet)"></facet-list>
				
				<facet-list facets="searchState.facets.organization_ner" facet-click="filter(facet)"></facet-list>
				
			</div>
		</div>
	</div>

</body>

</html>