
# Twitter details
twitter:
  consumer_key: xxx
  consumer_secret: xxx
  access_token_key: xxx
  access_token_secret: xxx

  # Number of tweets to fetch
  tweet_count: 200
  # Time to sleep between requests
  delay: 10

# Directory to which data files will be written
data_dir: ../data

# Directory to which data files will be moved after indexing
archive_dir: ../archive

# Details of individual lists for party MPs.
# Keys will be used by indexer to flag party affiliation.
party_lists:
  
  Labour:
    twitter_screen_name: tweetminster
    twitter_list_slug: labour

  Conservative:
    twitter_screen_name: tweetminster
    twitter_list_slug: conservatives

  LibDem:
    twitter_screen_name: tweetminster
    twitter_list_slug: libdems

  Other:
    twitter_screen_name: tweetminster
    twitter_list_slug: others

entity:

  # URL for the entity extractor - should be running as part of the webapp
  extractor_url: http://localhost:8080/entityExtractor

solr:

  # URL to post data to Solr
  update_url: http://localhost:8983/solr/update?commitWithin=15000
  
  # Headers
  headers:
    content-type: application/json

