<!-- Partial template for the about page. Shown inside container div -->
<p>
	Welcome to the Flax UKMP application, providing search and analysis of tweets posted by
	UK members of Parliament.
</p>

<h4>Credit where it's due...</h4>
<p>The UKMP application is built using a number of Open Source technologies,
including:</p>
<ul>
	<li><a href="http://lucene.apache.org/solr/">Apache Solr</a>, which provides 
	the search engine back-end for storing and searching over the tweet data.</li>
	<li><a href="http://dropwizard.codahale.com/">DropWizard</a>, which provides 
	the web back-end framework, allowing the front-end to communicate with Solr, and
	the indexing code to interact with the Stanford NLP API.</li>
	<li><a href="http://nlp.stanford.edu/index.shtml">Stanford NLP</a> for 
	entity extraction and sentiment analysis.</li>
	<li><a href="http://angularjs.org/">AngularJS</a>, providing the framework 
	for the web application.</li>
	<li><a href="http://getbootstrap.com/">Twitter Bootstrap</a> for the layout, and including the 
	<a href="http://glyphicons.com/">Glyphicons set</a> used in the search/browse page.</li>
</ul>