<!-- Partial template for the about page. Shown inside container div -->
<div class="about_page">

<div id="word_cloud"></div>

<h3>Welcome</h3>
<p>
	Welcome to the Flax UKMP application, providing search and analysis of tweets posted by
	UK members of Parliament.
</p>

<p>This application started life during a hackday organised by 
<a href="http://www.flax.co.uk">Flax</a> for the
<a href="http://www.meetup.com/Enterprise-Search-Cambridge-UK/">Enterprise Search
Meetup</a> for Cambridge in the UK. During the day, the participants split into
groups working on a number of different activities, two of them using a sample
of Twitter data from members of the UK Parliament's
<a href="http://www.parliament.uk/business/commons/">House of Commons</a>. 
By the end of the day,
both groups had small web applications available which used the data in slightly
different ways. Both of those applications have been used in the construction
of this site.</p>

<h4>Credit where it's due...</h4>
<p>The UKMP application is built using a number of Open Source technologies,
including:</p>
<ul>
	<li><a href="http://lucene.apache.org/solr/">Apache Solr</a>, which provides 
	the search engine back-end for storing and searching over the tweet data.</li>
	<li><a href="http://dropwizard.codahale.com/">DropWizard</a>, which provides 
	the web back-end framework, allowing the front-end to communicate with Solr, and
	the indexing code to interact with the Stanford NLP API.</li>
	<li><a href="http://nlp.stanford.edu/index.shtml">Stanford NLP</a> for 
	entity extraction and sentiment analysis.</li>
	<li><a href="http://angularjs.org/">AngularJS</a>, providing the framework 
	for the web application.</li>
	<li><a href="http://getbootstrap.com/">Twitter Bootstrap</a> for the layout, and including the 
	<a href="http://glyphicons.com/">Glyphicons set</a> used in the search/browse page.</li>
	<li>Jason Davies' <a href="https://github.com/jasondavies/d3-cloud">D3-Cloud</a>,
	generating the word cloud above.</li>
</ul>

</div><!-- .about_page -->