<div class="row">
	<div id="tweets" class="col-md-8 col-md-offset-1">
		<div class="results_header">
			<span>Found {{totalItems}} results.</span>
			
			<div ng-if="searched">Searched for: <em>{{searchState.query}}</em>.</div>
			<div ng-if="filtered">
				Filtered by:<br />
				<div class="row applied_filters" ng-repeat="(field, facets) in searchState.appliedFilters">
					<div class="col-md-2">{{facets.label}}:</div>
					<div class="col-md-9"><ul>
						<li ng-repeat="facet in facets.facets">
							<span ng-bind-html="facet.label"></span>
							<a href="" ng-click="remove_filter(field, facet.value)" class="remove_filter">[x]</a>
						</li>
					</ul></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<ul class="tweet_listing">
			<li ng-repeat="tweet in tweets">
				<div class="tweet">
					<img src="img/{{tweet.party}}.jpg" class="logo"/>
					<strong><a href="http://twitter.com/{{tweet.userScreenName}}" target="_tweets">@{{tweet.userScreenName}}</a></strong>
					{{tweet.userName}} ({{tweet.party}}) 
					<br />
					<span ng-bind-html="tweet.text"></span><br />
					<span class="tweet_date"><a href="http://twitter.com/{{tweet.userScreenName}}/status/{{tweet.id}}" target="_tweets">{{tweet.created | date:'HH:mm:ss, d MMM yyyy'}}</a></span>
					{{tweet.retweetCount}} retweets, 
					{{tweet.favouriteCount}} favourites.
					<!--img src="img/sentiment_tweet.sentiment.jpg" class="sentiment"/-->
				</div>
			</li>
		</ul>

		<pagination boundary-links="true" total-items="totalItems" page="currentPage" 
			previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" 
			last-text="&raquo;" on-select-page="setPage(page)" max-size="5"></pagination>
	</div>
	
	<div id="facets" class="col-md-2">
		<div class="filter-panel sortby-panel">
			Sort by
			<select ng-model="sortdetails" ng-change="changeSortOrder(sortdetails)">
				<option value="created_at desc" ng-selected="sortDetails == 'created_at desc'">Creation date</option>
				<option value="retweet_count desc" ng-selected="sortDetails == 'retweet_count desc'">Retweet count</option>
				<option value="favorite_count desc" ng-selected="sortDetails == 'favorite_count desc'">Favourite count</option>
			</select>
		</div>
		<div class="filter-panel">
			<div class="filter-panel-heading">Filters</div>
			<accordion close-others="false">
				<facet-accordion facets="searchState.facets.party" is-open="true" click="filter(facet)"></facet-accordion>
				<facet-query-accordion facets="searchState.facets.created_at" is-open="true" click="filter(facet)"></facet-query-accordion>
				<facet-query-accordion facets="searchState.facets.retweet_count" is-open="true" click="filter(facet)"></facet-query-accordion>
				<facet-query-accordion facets="searchState.facets.favorite_count" is-open="true" click="filter(facet)"></facet-query-accordion>
				
				<accordion-group is-open="isOpen">
					<accordion-heading>
						Entities <i class="glyphicon" ng-class="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}"></i>
					</accordion-heading>
					<accordion>
						<facet-accordion facets="searchState.facets.organization_ner" click="filter(facet)"></facet-accordion>
						<facet-accordion facets="searchState.facets.person_ner" click="filter(facet)"></facet-accordion>
						<facet-accordion facets="searchState.facets.location_ner" click="filter(facet)"></facet-accordion>
					</accordion>
				</accordion-group>
			</accordion>
		</div>
		
	</div>
</div>
