
# Twitter details
twitter:
  consumer_key: xxx
  consumer_secret: xxx
  access_token_key: xxx
  access_token_secret: xxx

  # Number of tweets to fetch
  tweet_count: 200
  # Time to sleep between requests
  delay: 10

# Directory to which data files will be written
data_dir: ../data

# Directory to which data files will be moved after indexing
archive_dir: ../archive

# Details of individual lists for party MPs.
# Keys will be used by indexer to flag party affiliation.
party_lists:
  
  Labour:
    twitter_screen_name: tweetminster
    twitter_list_slug: labour

  Conservative:
    twitter_screen_name: tweetminster
    twitter_list_slug: conservatives

  LibDem:
    twitter_screen_name: tweetminster
    twitter_list_slug: libdems

  Other:
    twitter_screen_name: tweetminster
    twitter_list_slug: others


# DropWizard configuration
# HTTP-specific options
http:

  port: 8080
  adminPort: 8081

# Logging
logging:

  level: INFO

  loggers:
    # Set debug logging for our code
    "uk.co.flax": TRACE

# Solr configuration
solr:

  # The base URL for the solr server.
  baseUrl: http://localhost:8983/solr/

# The entity configuration
entity:

  # Java properties - need to be wrapped up this way to work properly
  properties:
    # The NER classifier to use - taken from the stanford-nlp-models.jar
    loadClassifier: /edu/stanford/nlp/models/ner/english.all.3class.distsim.crf.ser.gz

